$light-light-blue: #e3f2fd;
$light-light-green: #e3fce3;
$vh-list: 10, 20, 30, 40, 50, 60, 70, 80, 90;

#header {
    height: 237px;
    padding-top: 10px;
    background-color: #00728f;

    h1 span {
        color: white;
    }
}

.bg-light-light-blue {
    background-color: $light-light-blue !important;
}

.bg-light-light-green {
    background-color: $light-light-green !important;
}

.list-group {
    a.list-group-item-transparent.active {
        background-color: white;
        border-color: transparent;
        color: black;
        outline: none;
    }
}

.min-vh-10 {
    min-height: 10vh !important;
}

@each $vh in $vh-list {
    .min-vh-#{$vh} {
        min-height: #{$vh}vh !important;
    }
}

.list-group-item-transparent {
    color: #1b4b72;
    background-color: transparent;

    .list-group-item-action {
        &:hover, &:focus {
            color: #1b4b72;
            background-color: transparent;
        }

        .active {
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }
    }
}

.social-badge {


    i {
        font-size: 25px;
        width: 30px;
        height: 30px;
    }

    .fa-vk, .fa-twitter {
        color: #3f9ae5;
    }

    .fa-facebook, .fa-telegram, .fa-gitlab, .fa-steam, .fa-bitbucket {
        color: #1d68a7;
    }

    .fa-instagram, .fa-gitlab {
        color: orangered;
    }

    .fa-twitch {
        color: darkviolet;
    }

    .fa-odnoklassniki {
        color: coral;
    }

    .fa-discord {
        color: #5d2bd3;
    }

    .fa-youtube {
        color: red;
    }

    .fa-question-circle {
        color: gray;
    }
}

ul.list-striped li:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
}
